.shorts-feed {
  height: 100dvh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; 
  scrollbar-width: none;
}

.shorts-feed::-webkit-scrollbar {
  display: none;
}
