.video-card {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100dvh;
  scroll-snap-align: start;
  background: #000;
  flex-shrink: 0;
}

.video-player {
  width: 100%;
  height: 100%;
  /* contain — видео впишется полностью, пустые места будут черными */
  object-fit: contain; 
  background-color: black; /* Фон за видео */
  cursor: pointer;
}


.mute-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
}

.side-bar {
  position: absolute;
  right: 15px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 28px;
  z-index: 5;
}

.video-info {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  z-index: 5;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
